.nav-bar {

    &__list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: var(--color-nav-bar);
    }

    &__item {
        float: right;
        color: white;
        display: flex;
        text-align: center;
        padding: 24px 16px;
        text-decoration: none;
    }

    &__item:hover {
        background-color: var(--color-nav-bar-hover);
    }
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
    position: relative;
    margin: 5px 10px 5px 10px;
}

.content {
    &__text {}
}

.gallery {
    
    &__item{
        display: flex;
        flex-direction: row; 
        float: left;
        border: 1px solid #ccc;
        margin: 5px;
        width: 180px;    
    }
    &__image {
        width: 180px;
        height: auto;
    }
    &__paragraph{
        padding: 15px;
        text-align: center;
    }
}