<!DOCTYPE html>
<html lang="en">
<head>
    <!--Head-->
    {{> common/head }}
</head>

<body>
    <!--Nav bar-->
    {{> common/nav }}

    <!--Share Experience-->
    <div class="experience-container">
        <div class="opinion">
            <div class="opinion-img">
                <img class="img" src="https://www.dnoticias.pt/documents/1/0/768x515/0c42/768d432/none/11506/DJUF/image_content_480958_20170123145701.jpg" alt="UMA img">
            </div>
            <div class="opinion-title">
                <h1>Main Txt here</h1>
            </div>
            <div class="opinion-txt">
                <blockquote>
                    O Lorem Ipsum é um texto modelo da indústria tipográfica e de impressão. O Lorem Ipsum tem vindo a ser o texto padrão usado por estas indústrias desde o ano de 1500, quando uma misturou os caracteres de um texto para criar um espécime de livro. Este texto não só sobreviveu 5 séculos, mas também o salto para a tipografia electrónica, mantendo-se essencialmente inalterada. Foi popularizada nos anos 60 com a disponibilização das folhas de Letraset, que continham passagens com Lorem Ipsum, e mais recentemente com os programas de publicação como o Aldus PageMaker que incluem versões do Lorem Ipsum.
                </blockquote>
            </div>
        </div>
        <div class="person">
            <div class="person-img">
                <img class="img" src="https://www.atlassian.com/dam/jcr:13a574c1-390b-4bfb-956b-6b6d114bf98c/max-rehkopf.png" alt="Person img">
            </div>
            <div class="person-title">
                <h1>LOREM</h1>
            </div>
            <div class="person-profession">
                <h3>Ipsum</h3>
            </div>
            <div class="person-txt">
                <blockquote>
                    O Lorem Ipsum é um texto modelo da indústria tipográfica e de impressão. O Lorem Ipsum tem vindo a ser o texto padrão usado por estas indústrias desde o ano de 1500, quando uma misturou os caracteres de um texto para criar um espécime de livro. Este texto não só sobreviveu 5 séculos, mas também o salto para a tipografia electrónica, mantendo-se essencialmente inalterada. Foi popularizada nos anos 60 com a disponibilização das folhas de Letraset.
                </blockquote>
            </div>
            <div class="person-social-media">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-google-plus-g"></i>
                <i class="fab fa-youtube"></i>
            </div>
        </div>
    </div>
    <!--Footer-->
    {{> common/footer }}

    <!--Scripts-->
    {{> common/scripts }}

</body>

</html>