* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-scrollbar {
  background: #ddd;
  width: 14px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 10px #00000070;
          box-shadow: inset 0 0 10px #00000070;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(125deg, #3498db, #34495e);
  border-radius: 10px;
}

:root {
  --color-primary: #ffffff;
  --color-bottom: rgb(0, 0, 0);
<<<<<<< HEAD
<<<<<<< HEAD
=======
  --color-red: rgb(214, 14, 14);
>>>>>>> 45486e58e65d4199bf0aae508c5c8f25803eb555
=======
>>>>>>> b6e1727c66bea377fe3686f4da3390feb771e9e7
  --color-representative:  rgb(68, 67, 67);
  --color-representative2: rgb(148, 145, 145);
  --color-representative-transparent:  #110f0f80;
  --color-representative-transparent-visited:  rgba(143, 141, 141, 0.5);
  --color-black-transparent:  rgba(12, 12, 12, 0.253);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
  width: 100%;
  height: 74px;
  background-color: none;
  float: left;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

header .container {
  display: table;
}

.container {
  width: 98%;
  margin: auto;
<<<<<<< HEAD
<<<<<<< HEAD
=======
}

.containermenuresponsive {
  width: 57%;
  height: 100%;
  background-color: var(--color-representative-transparent);
  float: left;
  display: none;
  position: fixed;
  margin-top: 74px;
  left: -900px;
}

.containermenuresponsive a {
  margin-left: 20px;
>>>>>>> 45486e58e65d4199bf0aae508c5c8f25803eb555
=======
>>>>>>> b6e1727c66bea377fe3686f4da3390feb771e9e7
}

h1 {
  float: left;
}

header .container {
  display: table;
}

section {
  width: 100%;
  margin-bottom: 25px;
}

footer {
  border-top: thick solid var(--color-bottom);
  margin-top: -29px;
}

footer .container {
  background-color: var(--color-primary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

footer .container .maisinfo a {
  display: inline-block;
  color: var(--color-bottom);
  text-align: center;
  margin-top: 20px;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-transition: color .5s;
  transition: color .5s;
}

footer .container .maisinfo a:hover {
  color: var(--color-red);
}

.media {
  margin-top: 40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

footer .btn {
  display: inline-block;
  width: 90px;
  height: 90px;
  background: #f1f1f1;
  margin: 10px;
  border-radius: 30%;
  -webkit-box-shadow: 0 5px 15px -5px #00000070;
          box-shadow: 0 5px 15px -5px #00000070;
  color: #3498db;
  overflow: hidden;
  position: relative;
}

footer .btn i {
  line-height: 90px;
  font-size: 26px;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

footer .btn:hover i {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  color: #f1f1f1;
}

footer .btn::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #3498db;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  left: -110%;
  top: 90%;
}

footer .btn:hover::before {
  -webkit-animation: aaa 0.7s 1;
          animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}

@-webkit-keyframes aaa {
  0% {
    left: -110%;
    top: 90%;
  }
  50% {
    left: 10%;
    top: -30%;
  }
  100% {
    top: -10%;
    left: -10%;
  }
}

@keyframes aaa {
  0% {
    left: -110%;
    top: 90%;
  }
  50% {
    left: 10%;
    top: -30%;
  }
  100% {
    top: -10%;
    left: -10%;
  }
}

section {
  widows: 100%;
  margin-bottom: 25px;
}

.logoprin {
  height: 74px;
  margin-left: 2rem;
  float: left;
}

.logomenuresponsive {
  display: none;
  float: right;
  margin-right: 16px;
  -webkit-transform: translateY(30%);
          transform: translateY(30%);
}

.menu-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
<<<<<<< HEAD
<<<<<<< HEAD
  padding: 25px 0 0 400px;
=======
  float: right;
  -webkit-transform: translateY(25px);
          transform: translateY(25px);
  margin-right: 10%;
>>>>>>> 45486e58e65d4199bf0aae508c5c8f25803eb555
=======
  padding: 25px 0 0 400px;
>>>>>>> b6e1727c66bea377fe3686f4da3390feb771e9e7
}

.menu-div {
  padding: 0 10px 0 10px;
}

.menu-div1 {
  padding: 0 35px 0 10px;
}

.menu-div_slide {
  left: 50px;
}

.black {
  background-color: var(--color-representative-transparent);
}

.menu-nav {
  width: 100%;
  height: 74px;
  font-size: 1rem;
  list-style: none;
}

.menu-nav__link:link, .menu-nav__link:visited {
  color: var(--color-primary);
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: color .5s;
  transition: color .5s;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-nav__link:hover {
  color: var(--color-bottom);
}

.menu-nav__icon {
  width: 1rem;
  height: 1rem;
  fill: currentColor;
  padding: 2px;
}

.menu-nav div ul ol {
  text-decoration: none;
  list-style: none;
}

.menu-nav div ul {
  display: none;
  position: absolute;
  min-width: 140px;
}

.menu-nav div:hover > ul {
  display: block;
  padding: 10px 0 0 0;
<<<<<<< HEAD
<<<<<<< HEAD
  position: relative;
=======
>>>>>>> 45486e58e65d4199bf0aae508c5c8f25803eb555
=======
  position: relative;
>>>>>>> b6e1727c66bea377fe3686f4da3390feb771e9e7
}

.linguas {
  width: 279px;
  height: 30%;
  background-color: var(--color-bottom);
  position: fixed;
  left: 100%;
}

#banner {
  position: relative;
  text-align: center;
}

#banner img {
  width: 100%;
  height: 696px;
}

#banner .container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  color: var(--color-primary);
}

#banner h2 {
  font-size: 35px;
  font-weight: 500;
  text-shadow: 1px 2px #999;
}

#banner p {
  font-weight: 500;
}

#banner a {
  display: inline-block;
  width: 100px;
  color: var(--color-primary);
  text-decoration: none;
  padding: 7px;
  text-align: center;
  margin-top: 20px;
  border: 3px solid #ffffff;
  -ms-flex-line-pack: center;
      align-content: center;
<<<<<<< HEAD
<<<<<<< HEAD
=======
  -webkit-transition: color .5s;
  transition: color .5s;
>>>>>>> 45486e58e65d4199bf0aae508c5c8f25803eb555
=======
>>>>>>> b6e1727c66bea377fe3686f4da3390feb771e9e7
}

#banner a:hover {
  color: var(--color-bottom);
}

<<<<<<< HEAD
<<<<<<< HEAD
=======
@media (max-width: 768px) {
  #banner img {
    height: 400px;
  }
}

@media (max-width: 768px) {
  #banner h2 {
    font-size: 20px;
    font-weight: 400;
    text-shadow: 1px 2px #999;
  }
}

>>>>>>> 45486e58e65d4199bf0aae508c5c8f25803eb555
=======
>>>>>>> b6e1727c66bea377fe3686f4da3390feb771e9e7
#welcome h2 {
  text-align: center;
}

#welcome p {
  text-align: center;
}

#exemplosimages {
  text-align: center;
}

#exemplosimages h3, #exemplosimages h4 {
  text-align: center;
}

#exemplosimages .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#exemplosimages article {
  margin: 15px;
}

#exemplosimages img {
  border-radius: 50%;
  border: 5px solid var(--color-primary);
  width: 100%;
  max-width: 280px;
}

#imagesdestinos {
  background-color: var(--color-representative);
}

<<<<<<< HEAD
<<<<<<< HEAD
=======
#imagesdestinos #hr1 {
  width: 70%;
  margin-left: 15%;
}

>>>>>>> 45486e58e65d4199bf0aae508c5c8f25803eb555
=======
>>>>>>> b6e1727c66bea377fe3686f4da3390feb771e9e7
#imagesdestinos h3, #imagesdestinos h4 {
  text-align: center;
  color: var(--color-primary);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#imagesdestinos .container1 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1100px;
  margin: 20px auto;
  -webkit-columns: 4;
          columns: 4;
  -webkit-column-gap: 40px;
          column-gap: 40px;
}

#imagesdestinos .container1 .sa {
  height: 35px;
  width: 236px;
  line-height: 2.1;
<<<<<<< HEAD
<<<<<<< HEAD
  -webkit-transform: translateX(0%) translateY(-456%);
          transform: translateX(0%) translateY(-456%);
=======
  -webkit-transform: translateX(0%) translateY(-160px);
          transform: translateX(0%) translateY(-160px);
>>>>>>> 45486e58e65d4199bf0aae508c5c8f25803eb555
=======
  -webkit-transform: translateX(0%) translateY(-456%);
          transform: translateX(0%) translateY(-456%);
>>>>>>> b6e1727c66bea377fe3686f4da3390feb771e9e7
  position: absolute;
  background-color: var(--color-black-transparent);
}

#imagesdestinos .container1 .mc {
  height: 35px;
  width: 236px;
  line-height: 2.1;
<<<<<<< HEAD
<<<<<<< HEAD
  -webkit-transform: translateX(0%) translateY(-668%);
          transform: translateX(0%) translateY(-668%);
=======
  -webkit-transform: translateX(0%) translateY(-234px);
          transform: translateX(0%) translateY(-234px);
>>>>>>> 45486e58e65d4199bf0aae508c5c8f25803eb555
=======
  -webkit-transform: translateX(0%) translateY(-668%);
          transform: translateX(0%) translateY(-668%);
>>>>>>> b6e1727c66bea377fe3686f4da3390feb771e9e7
  position: absolute;
  background-color: var(--color-black-transparent);
}

#imagesdestinos .container1 .ror {
  height: 35px;
  width: 236px;
  line-height: 2.1;
<<<<<<< HEAD
<<<<<<< HEAD
  -webkit-transform: translateX(0%) translateY(-456%);
          transform: translateX(0%) translateY(-456%);
=======
  -webkit-transform: translateX(0%) translateY(-160px);
          transform: translateX(0%) translateY(-160px);
>>>>>>> 45486e58e65d4199bf0aae508c5c8f25803eb555
=======
  -webkit-transform: translateX(0%) translateY(-456%);
          transform: translateX(0%) translateY(-456%);
>>>>>>> b6e1727c66bea377fe3686f4da3390feb771e9e7
  position: absolute;
  background-color: var(--color-black-transparent);
}

#imagesdestinos .container1 .ea {
  height: 35px;
  width: 236px;
  line-height: 2.1;
<<<<<<< HEAD
<<<<<<< HEAD
  -webkit-transform: translateX(0%) translateY(-668%);
          transform: translateX(0%) translateY(-668%);
=======
  -webkit-transform: translateX(0%) translateY(-234px);
          transform: translateX(0%) translateY(-234px);
>>>>>>> 45486e58e65d4199bf0aae508c5c8f25803eb555
=======
  -webkit-transform: translateX(0%) translateY(-668%);
          transform: translateX(0%) translateY(-668%);
>>>>>>> b6e1727c66bea377fe3686f4da3390feb771e9e7
  position: absolute;
  background-color: var(--color-black-transparent);
}

#imagesdestinos .container1 .ca {
  height: 35px;
  width: 236px;
  line-height: 2.1;
<<<<<<< HEAD
<<<<<<< HEAD
  -webkit-transform: translateX(0%) translateY(-668%);
          transform: translateX(0%) translateY(-668%);
=======
  -webkit-transform: translateX(0%) translateY(-234px);
          transform: translateX(0%) translateY(-234px);
>>>>>>> 45486e58e65d4199bf0aae508c5c8f25803eb555
=======
  -webkit-transform: translateX(0%) translateY(-668%);
          transform: translateX(0%) translateY(-668%);
>>>>>>> b6e1727c66bea377fe3686f4da3390feb771e9e7
  position: absolute;
  background-color: var(--color-black-transparent);
}

#imagesdestinos .container1 .cg {
  height: 35px;
  width: 236px;
  line-height: 2.1;
<<<<<<< HEAD
<<<<<<< HEAD
  -webkit-transform: translateX(0%) translateY(-456%);
          transform: translateX(0%) translateY(-456%);
=======
  -webkit-transform: translateX(0%) translateY(-160px);
          transform: translateX(0%) translateY(-160px);
>>>>>>> 45486e58e65d4199bf0aae508c5c8f25803eb555
=======
  -webkit-transform: translateX(0%) translateY(-456%);
          transform: translateX(0%) translateY(-456%);
>>>>>>> b6e1727c66bea377fe3686f4da3390feb771e9e7
  position: absolute;
  background-color: var(--color-black-transparent);
}

#imagesdestinos .container1 .ct {
  height: 35px;
  width: 236px;
  line-height: 2.1;
<<<<<<< HEAD
<<<<<<< HEAD
  -webkit-transform: translateX(0%) translateY(-668%);
          transform: translateX(0%) translateY(-668%);
=======
  -webkit-transform: translateX(0%) translateY(-234px);
          transform: translateX(0%) translateY(-234px);
>>>>>>> 45486e58e65d4199bf0aae508c5c8f25803eb555
=======
  -webkit-transform: translateX(0%) translateY(-668%);
          transform: translateX(0%) translateY(-668%);
>>>>>>> b6e1727c66bea377fe3686f4da3390feb771e9e7
  position: absolute;
  background-color: var(--color-black-transparent);
}

#imagesdestinos .container1 .mcbo {
  height: 35px;
  width: 236px;
  line-height: 2.1;
<<<<<<< HEAD
<<<<<<< HEAD
  -webkit-transform: translateX(0%) translateY(-456%);
          transform: translateX(0%) translateY(-456%);
=======
  -webkit-transform: translateX(0%) translateY(-160px);
          transform: translateX(0%) translateY(-160px);
>>>>>>> 45486e58e65d4199bf0aae508c5c8f25803eb555
=======
  -webkit-transform: translateX(0%) translateY(-456%);
          transform: translateX(0%) translateY(-456%);
>>>>>>> b6e1727c66bea377fe3686f4da3390feb771e9e7
  position: absolute;
  background-color: var(--color-black-transparent);
}

#imagesdestinos .container1 .ptocruz {
  height: 35px;
  width: 236px;
  line-height: 2.1;
<<<<<<< HEAD
<<<<<<< HEAD
  -webkit-transform: translateX(0%) translateY(-668%);
          transform: translateX(0%) translateY(-668%);
=======
  -webkit-transform: translateX(0%) translateY(-234px);
          transform: translateX(0%) translateY(-234px);
>>>>>>> 45486e58e65d4199bf0aae508c5c8f25803eb555
=======
  -webkit-transform: translateX(0%) translateY(-668%);
          transform: translateX(0%) translateY(-668%);
>>>>>>> b6e1727c66bea377fe3686f4da3390feb771e9e7
  position: absolute;
  background-color: var(--color-black-transparent);
}

#imagesdestinos .container1 .coro {
  height: 35px;
  width: 236px;
  line-height: 2.1;
<<<<<<< HEAD
<<<<<<< HEAD
  -webkit-transform: translateX(0%) translateY(-456%);
          transform: translateX(0%) translateY(-456%);
=======
  -webkit-transform: translateX(0%) translateY(-160px);
          transform: translateX(0%) translateY(-160px);
>>>>>>> 45486e58e65d4199bf0aae508c5c8f25803eb555
=======
  -webkit-transform: translateX(0%) translateY(-456%);
          transform: translateX(0%) translateY(-456%);
>>>>>>> b6e1727c66bea377fe3686f4da3390feb771e9e7
  position: absolute;
  background-color: var(--color-black-transparent);
}

#imagesdestinos .container1 .val {
  height: 35px;
  width: 236px;
  line-height: 2.1;
<<<<<<< HEAD
<<<<<<< HEAD
  -webkit-transform: translateX(0%) translateY(-668%);
          transform: translateX(0%) translateY(-668%);
=======
  -webkit-transform: translateX(0%) translateY(0px);
          transform: translateX(0%) translateY(0px);
>>>>>>> 45486e58e65d4199bf0aae508c5c8f25803eb555
=======
  -webkit-transform: translateX(0%) translateY(-668%);
          transform: translateX(0%) translateY(-668%);
>>>>>>> b6e1727c66bea377fe3686f4da3390feb771e9e7
  position: absolute;
  background-color: var(--color-black-transparent);
}

#imagesdestinos .container1 .cari {
  height: 35px;
  width: 236px;
  line-height: 2.1;
<<<<<<< HEAD
<<<<<<< HEAD
  -webkit-transform: translateX(0%) translateY(-456%);
          transform: translateX(0%) translateY(-456%);
=======
  -webkit-transform: translateX(0%) translateY(-160px);
          transform: translateX(0%) translateY(-160px);
>>>>>>> 45486e58e65d4199bf0aae508c5c8f25803eb555
=======
  -webkit-transform: translateX(0%) translateY(-456%);
          transform: translateX(0%) translateY(-456%);
>>>>>>> b6e1727c66bea377fe3686f4da3390feb771e9e7
  position: absolute;
  background-color: var(--color-black-transparent);
}

#imagesdestinos .container1 .ccs {
  height: 35px;
  width: 236px;
  line-height: 2.1;
<<<<<<< HEAD
<<<<<<< HEAD
  -webkit-transform: translateX(0%) translateY(-456%);
          transform: translateX(0%) translateY(-456%);
=======
  -webkit-transform: translateX(0%) translateY(-160px);
          transform: translateX(0%) translateY(-160px);
>>>>>>> 45486e58e65d4199bf0aae508c5c8f25803eb555
=======
  -webkit-transform: translateX(0%) translateY(-456%);
          transform: translateX(0%) translateY(-456%);
>>>>>>> b6e1727c66bea377fe3686f4da3390feb771e9e7
  position: absolute;
  background-color: var(--color-black-transparent);
}

#imagesdestinos .container1 .apu {
  height: 35px;
  width: 236px;
  line-height: 2.1;
<<<<<<< HEAD
<<<<<<< HEAD
  -webkit-transform: translateX(0%) translateY(-668%);
          transform: translateX(0%) translateY(-668%);
=======
  -webkit-transform: translateX(0%) translateY(-234px);
          transform: translateX(0%) translateY(-234px);
>>>>>>> 45486e58e65d4199bf0aae508c5c8f25803eb555
=======
  -webkit-transform: translateX(0%) translateY(-668%);
          transform: translateX(0%) translateY(-668%);
>>>>>>> b6e1727c66bea377fe3686f4da3390feb771e9e7
  position: absolute;
  background-color: var(--color-black-transparent);
}

#imagesdestinos .container1 .lr {
  height: 35px;
  width: 236px;
  line-height: 2.1;
<<<<<<< HEAD
<<<<<<< HEAD
  -webkit-transform: translateX(0%) translateY(-456%);
          transform: translateX(0%) translateY(-456%);
=======
  -webkit-transform: translateX(0%) translateY(-160px);
          transform: translateX(0%) translateY(-160px);
>>>>>>> 45486e58e65d4199bf0aae508c5c8f25803eb555
=======
  -webkit-transform: translateX(0%) translateY(-456%);
          transform: translateX(0%) translateY(-456%);
>>>>>>> b6e1727c66bea377fe3686f4da3390feb771e9e7
  position: absolute;
  background-color: var(--color-black-transparent);
}

#imagesdestinos .container1 .ic {
  height: 35px;
  width: 236px;
  line-height: 2.1;
<<<<<<< HEAD
<<<<<<< HEAD
  -webkit-transform: translateX(0%) translateY(-668%);
          transform: translateX(0%) translateY(-668%);
=======
  -webkit-transform: translateX(0%) translateY(-234px);
          transform: translateX(0%) translateY(-234px);
>>>>>>> 45486e58e65d4199bf0aae508c5c8f25803eb555
=======
  -webkit-transform: translateX(0%) translateY(-668%);
          transform: translateX(0%) translateY(-668%);
>>>>>>> b6e1727c66bea377fe3686f4da3390feb771e9e7
  position: absolute;
  background-color: var(--color-black-transparent);
}

#imagesdestinos .container1 .im {
  height: 35px;
  width: 236px;
  line-height: 2.1;
<<<<<<< HEAD
<<<<<<< HEAD
  -webkit-transform: translateX(0%) translateY(-456%);
          transform: translateX(0%) translateY(-456%);
=======
  -webkit-transform: translateX(0%) translateY(-160px);
          transform: translateX(0%) translateY(-160px);
>>>>>>> 45486e58e65d4199bf0aae508c5c8f25803eb555
=======
  -webkit-transform: translateX(0%) translateY(-456%);
          transform: translateX(0%) translateY(-456%);
>>>>>>> b6e1727c66bea377fe3686f4da3390feb771e9e7
  position: absolute;
  background-color: var(--color-black-transparent);
}

#imagesdestinos .container1 .tu {
  height: 35px;
  width: 236px;
  line-height: 2.1;
<<<<<<< HEAD
<<<<<<< HEAD
  -webkit-transform: translateX(0%) translateY(-668%);
          transform: translateX(0%) translateY(-668%);
=======
  -webkit-transform: translateX(0%) translateY(-234px);
          transform: translateX(0%) translateY(-234px);
>>>>>>> 45486e58e65d4199bf0aae508c5c8f25803eb555
=======
  -webkit-transform: translateX(0%) translateY(-668%);
          transform: translateX(0%) translateY(-668%);
>>>>>>> b6e1727c66bea377fe3686f4da3390feb771e9e7
  position: absolute;
  background-color: var(--color-black-transparent);
}

#imagesdestinos .container1 .mo {
  height: 35px;
  width: 236px;
  line-height: 2.1;
<<<<<<< HEAD
<<<<<<< HEAD
  -webkit-transform: translateX(0%) translateY(-456%);
          transform: translateX(0%) translateY(-456%);
=======
  -webkit-transform: translateX(0%) translateY(-160px);
          transform: translateX(0%) translateY(-160px);
>>>>>>> 45486e58e65d4199bf0aae508c5c8f25803eb555
=======
  -webkit-transform: translateX(0%) translateY(-456%);
          transform: translateX(0%) translateY(-456%);
>>>>>>> b6e1727c66bea377fe3686f4da3390feb771e9e7
  position: absolute;
  background-color: var(--color-black-transparent);
}

#imagesdestinos .container1 .pndo {
  height: 65px;
  width: 236px;
  line-height: 2.1;
<<<<<<< HEAD
<<<<<<< HEAD
  -webkit-transform: translateX(0%) translateY(-360%);
          transform: translateX(0%) translateY(-360%);
=======
  -webkit-transform: translateX(0%) translateY(-234px);
          transform: translateX(0%) translateY(-234px);
>>>>>>> 45486e58e65d4199bf0aae508c5c8f25803eb555
=======
  -webkit-transform: translateX(0%) translateY(-360%);
          transform: translateX(0%) translateY(-360%);
>>>>>>> b6e1727c66bea377fe3686f4da3390feb771e9e7
  position: absolute;
  background-color: var(--color-black-transparent);
}

#imagesdestinos .container1 .gs {
  height: 35px;
  width: 236px;
  line-height: 2.1;
<<<<<<< HEAD
<<<<<<< HEAD
  -webkit-transform: translateX(0%) translateY(-456%);
          transform: translateX(0%) translateY(-456%);
=======
  -webkit-transform: translateX(0%) translateY(-160px);
          transform: translateX(0%) translateY(-160px);
>>>>>>> 45486e58e65d4199bf0aae508c5c8f25803eb555
=======
  -webkit-transform: translateX(0%) translateY(-456%);
          transform: translateX(0%) translateY(-456%);
>>>>>>> b6e1727c66bea377fe3686f4da3390feb771e9e7
  position: absolute;
  background-color: var(--color-black-transparent);
}

#imagesdestinos .container1 .st {
  height: 35px;
  width: 236px;
  line-height: 2.1;
<<<<<<< HEAD
<<<<<<< HEAD
  -webkit-transform: translateX(0%) translateY(-668%);
          transform: translateX(0%) translateY(-668%);
=======
  -webkit-transform: translateX(0%) translateY(-234px);
          transform: translateX(0%) translateY(-234px);
>>>>>>> 45486e58e65d4199bf0aae508c5c8f25803eb555
=======
  -webkit-transform: translateX(0%) translateY(-668%);
          transform: translateX(0%) translateY(-668%);
>>>>>>> b6e1727c66bea377fe3686f4da3390feb771e9e7
  position: absolute;
  background-color: var(--color-black-transparent);
}

#imagesdestinos .container1 .cb {
  height: 35px;
  width: 236px;
  line-height: 2.1;
<<<<<<< HEAD
<<<<<<< HEAD
  -webkit-transform: translateX(0%) translateY(-456%);
          transform: translateX(0%) translateY(-456%);
=======
  -webkit-transform: translateX(0%) translateY(-160px);
          transform: translateX(0%) translateY(-160px);
>>>>>>> 45486e58e65d4199bf0aae508c5c8f25803eb555
=======
  -webkit-transform: translateX(0%) translateY(-456%);
          transform: translateX(0%) translateY(-456%);
>>>>>>> b6e1727c66bea377fe3686f4da3390feb771e9e7
  position: absolute;
  background-color: var(--color-black-transparent);
}

#imagesdestinos .container1 .ch {
  height: 35px;
  width: 236px;
  line-height: 2.1;
<<<<<<< HEAD
<<<<<<< HEAD
  -webkit-transform: translateX(0%) translateY(-668%);
          transform: translateX(0%) translateY(-668%);
=======
  -webkit-transform: translateX(0%) translateY(-234px);
          transform: translateX(0%) translateY(-234px);
>>>>>>> 45486e58e65d4199bf0aae508c5c8f25803eb555
=======
  -webkit-transform: translateX(0%) translateY(-668%);
          transform: translateX(0%) translateY(-668%);
>>>>>>> b6e1727c66bea377fe3686f4da3390feb771e9e7
  position: absolute;
  background-color: var(--color-black-transparent);
}

#imagesdestinos .container1 .pp {
  height: 35px;
  width: 236px;
  line-height: 2.1;
<<<<<<< HEAD
<<<<<<< HEAD
  -webkit-transform: translateX(0%) translateY(-668%);
          transform: translateX(0%) translateY(-668%);
=======
  -webkit-transform: translateX(0%) translateY(-234px);
          transform: translateX(0%) translateY(-234px);
>>>>>>> 45486e58e65d4199bf0aae508c5c8f25803eb555
=======
  -webkit-transform: translateX(0%) translateY(-668%);
          transform: translateX(0%) translateY(-668%);
>>>>>>> b6e1727c66bea377fe3686f4da3390feb771e9e7
  position: absolute;
  background-color: var(--color-black-transparent);
}

#imagesdestinos .container1 .ito {
  height: 35px;
  width: 236px;
  line-height: 2.1;
<<<<<<< HEAD
<<<<<<< HEAD
  -webkit-transform: translateX(0%) translateY(-456%);
          transform: translateX(0%) translateY(-456%);
=======
  -webkit-transform: translateX(0%) translateY(-160px);
          transform: translateX(0%) translateY(-160px);
>>>>>>> 45486e58e65d4199bf0aae508c5c8f25803eb555
=======
  -webkit-transform: translateX(0%) translateY(-456%);
          transform: translateX(0%) translateY(-456%);
>>>>>>> b6e1727c66bea377fe3686f4da3390feb771e9e7
  position: absolute;
  background-color: var(--color-black-transparent);
}

#imagesdestinos .container1 .mer {
  height: 35px;
  width: 236px;
  line-height: 2.1;
<<<<<<< HEAD
<<<<<<< HEAD
  -webkit-transform: translateX(0%) translateY(-668%);
          transform: translateX(0%) translateY(-668%);
=======
  -webkit-transform: translateX(0%) translateY(-234px);
          transform: translateX(0%) translateY(-234px);
>>>>>>> 45486e58e65d4199bf0aae508c5c8f25803eb555
=======
  -webkit-transform: translateX(0%) translateY(-668%);
          transform: translateX(0%) translateY(-668%);
>>>>>>> b6e1727c66bea377fe3686f4da3390feb771e9e7
  position: absolute;
  background-color: var(--color-black-transparent);
}

#imagesdestinos .container1 .infodestino {
  width: 100%;
  padding: 10px;
  overflow: hidden;
  -webkit-column-break-inside: avoid;
          break-inside: avoid;
}

#imagesdestinos .container .infodestino img {
  max-width: 100%;
}

#imagesdestinos .infodestino1 {
  margin: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#imagesdestinos img {
  position: relative;
}

@media (max-width: 1100px) {
  #imagesdestinos .container1 {
    -webkit-columns: 3;
            columns: 3;
    width: calc(100% - 40px);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
<<<<<<< HEAD
<<<<<<< HEAD
    padding: 20px 20px 20px 0px;
=======
    padding: 20px 0px 20px 0px;
  }
  #imagesdestinos .container1 .sa {
    height: 35px;
    width: 236px;
    line-height: 2.1;
    -webkit-transform: translateX(0%) translateY(0px);
            transform: translateX(0%) translateY(0px);
    position: absolute;
    background-color: var(--color-black-transparent);
  }
  #imagesdestinos .container1 .mc {
    height: 35px;
    width: 236px;
    line-height: 2.1;
    -webkit-transform: translateX(0%) translateY(0px);
            transform: translateX(0%) translateY(0px);
    position: absolute;
    background-color: var(--color-black-transparent);
  }
  #imagesdestinos .container1 .ror {
    height: 35px;
    width: 236px;
    line-height: 2.1;
    -webkit-transform: translateX(0%) translateY(0px);
            transform: translateX(0%) translateY(0px);
    position: absolute;
    background-color: var(--color-black-transparent);
  }
  #imagesdestinos .container1 .ea {
    height: 35px;
    width: 236px;
    line-height: 2.1;
    -webkit-transform: translateX(0%) translateY(0px);
            transform: translateX(0%) translateY(0px);
    position: absolute;
    background-color: var(--color-black-transparent);
  }
  #imagesdestinos .container1 .ca {
    height: 35px;
    width: 236px;
    line-height: 2.1;
    -webkit-transform: translateX(0%) translateY(0px);
            transform: translateX(0%) translateY(0px);
    position: absolute;
    background-color: var(--color-black-transparent);
  }
  #imagesdestinos .container1 .cg {
    height: 35px;
    width: 236px;
    line-height: 2.1;
    -webkit-transform: translateX(0%) translateY(0px);
            transform: translateX(0%) translateY(0px);
    position: absolute;
    background-color: var(--color-black-transparent);
  }
  #imagesdestinos .container1 .ct {
    height: 35px;
    width: 236px;
    line-height: 2.1;
    -webkit-transform: translateX(0%) translateY(0px);
            transform: translateX(0%) translateY(0px);
    position: absolute;
    background-color: var(--color-black-transparent);
  }
  #imagesdestinos .container1 .mcbo {
    height: 35px;
    width: 236px;
    line-height: 2.1;
    -webkit-transform: translateX(0%) translateY(0px);
            transform: translateX(0%) translateY(0px);
    position: absolute;
    background-color: var(--color-black-transparent);
  }
  #imagesdestinos .container1 .ptocruz {
    height: 35px;
    width: 236px;
    line-height: 2.1;
    -webkit-transform: translateX(0%) translateY(0px);
            transform: translateX(0%) translateY(0px);
    position: absolute;
    background-color: var(--color-black-transparent);
  }
  #imagesdestinos .container1 .coro {
    height: 35px;
    width: 236px;
    line-height: 2.1;
    -webkit-transform: translateX(0%) translateY(0px);
            transform: translateX(0%) translateY(0px);
    position: absolute;
    background-color: var(--color-black-transparent);
  }
  #imagesdestinos .container1 .val {
    height: 35px;
    width: 236px;
    line-height: 2.1;
    -webkit-transform: translateX(0%) translateY(0px);
            transform: translateX(0%) translateY(0px);
    position: absolute;
    background-color: var(--color-black-transparent);
  }
  #imagesdestinos .container1 .cari {
    height: 35px;
    width: 236px;
    line-height: 2.1;
    -webkit-transform: translateX(0%) translateY(0px);
            transform: translateX(0%) translateY(0px);
    position: absolute;
    background-color: var(--color-black-transparent);
  }
  #imagesdestinos .container1 .ccs {
    height: 35px;
    width: 236px;
    line-height: 2.1;
    -webkit-transform: translateX(0%) translateY(0px);
            transform: translateX(0%) translateY(0px);
    position: absolute;
    background-color: var(--color-black-transparent);
  }
  #imagesdestinos .container1 .apu {
    height: 35px;
    width: 236px;
    line-height: 2.1;
    -webkit-transform: translateX(0%) translateY(0px);
            transform: translateX(0%) translateY(0px);
    position: absolute;
    background-color: var(--color-black-transparent);
  }
  #imagesdestinos .container1 .lr {
    height: 35px;
    width: 236px;
    line-height: 2.1;
    -webkit-transform: translateX(0%) translateY(0px);
            transform: translateX(0%) translateY(0px);
    position: absolute;
    background-color: var(--color-black-transparent);
  }
  #imagesdestinos .container1 .ic {
    height: 35px;
    width: 236px;
    line-height: 2.1;
    -webkit-transform: translateX(0%) translateY(0px);
            transform: translateX(0%) translateY(0px);
    position: absolute;
    background-color: var(--color-black-transparent);
  }
  #imagesdestinos .container1 .im {
    height: 35px;
    width: 236px;
    line-height: 2.1;
    -webkit-transform: translateX(0%) translateY(0px);
            transform: translateX(0%) translateY(0px);
    position: absolute;
    background-color: var(--color-black-transparent);
  }
  #imagesdestinos .container1 .tu {
    height: 35px;
    width: 236px;
    line-height: 2.1;
    -webkit-transform: translateX(0%) translateY(0px);
            transform: translateX(0%) translateY(0px);
    position: absolute;
    background-color: var(--color-black-transparent);
  }
  #imagesdestinos .container1 .mo {
    height: 35px;
    width: 236px;
    line-height: 2.1;
    -webkit-transform: translateX(0%) translateY(0px);
            transform: translateX(0%) translateY(0px);
    position: absolute;
    background-color: var(--color-black-transparent);
  }
  #imagesdestinos .container1 .pndo {
    height: 65px;
    width: 236px;
    line-height: 2.1;
    -webkit-transform: translateX(0%) translateY(0px);
            transform: translateX(0%) translateY(0px);
    position: absolute;
    background-color: var(--color-black-transparent);
  }
  #imagesdestinos .container1 .gs {
    height: 35px;
    width: 236px;
    line-height: 2.1;
    -webkit-transform: translateX(0%) translateY(0px);
            transform: translateX(0%) translateY(0px);
    position: absolute;
    background-color: var(--color-black-transparent);
  }
  #imagesdestinos .container1 .st {
    height: 35px;
    width: 236px;
    line-height: 2.1;
    -webkit-transform: translateX(0%) translateY(0px);
            transform: translateX(0%) translateY(0px);
    position: absolute;
    background-color: var(--color-black-transparent);
  }
  #imagesdestinos .container1 .cb {
    height: 35px;
    width: 236px;
    line-height: 2.1;
    -webkit-transform: translateX(0%) translateY(0px);
            transform: translateX(0%) translateY(0px);
    position: absolute;
    background-color: var(--color-black-transparent);
  }
  #imagesdestinos .container1 .ch {
    height: 35px;
    width: 236px;
    line-height: 2.1;
    -webkit-transform: translateX(0%) translateY(0px);
            transform: translateX(0%) translateY(0px);
    position: absolute;
    background-color: var(--color-black-transparent);
  }
  #imagesdestinos .container1 .pp {
    height: 35px;
    width: 236px;
    line-height: 2.1;
    -webkit-transform: translateX(0%) translateY(0px);
            transform: translateX(0%) translateY(0px);
    position: absolute;
    background-color: var(--color-black-transparent);
  }
  #imagesdestinos .container1 .ito {
    height: 35px;
    width: 236px;
    line-height: 2.1;
    -webkit-transform: translateX(0%) translateY(0px);
            transform: translateX(0%) translateY(0px);
    position: absolute;
    background-color: var(--color-black-transparent);
  }
  #imagesdestinos .container1 .mer {
    height: 35px;
    width: 236px;
    line-height: 2.1;
    -webkit-transform: translateX(0%) translateY(0px);
            transform: translateX(0%) translateY(0px);
    position: absolute;
    background-color: var(--color-black-transparent);
  }
  .infodestino {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 950px) {
  .menu-nav {
    display: none;
  }
  .logomenuresponsive {
    display: block;
  }
  .containermenuresponsive {
    display: block;
>>>>>>> 45486e58e65d4199bf0aae508c5c8f25803eb555
=======
    padding: 20px 20px 20px 0px;
>>>>>>> b6e1727c66bea377fe3686f4da3390feb771e9e7
  }
}

@media (max-width: 768px) {
  #imagesdestinos .container1 {
    -webkit-columns: 2;
            columns: 2;
  }
<<<<<<< HEAD
<<<<<<< HEAD
}

@media (max-width: 480px) {
=======
  #imagesdestinos .container1 .sa {
    height: 35px;
    width: 236px;
    line-height: 2.1;
    -webkit-transform: translateX(0%) translateY(0px);
            transform: translateX(0%) translateY(0px);
    position: absolute;
    background-color: var(--color-black-transparent);
  }
  #imagesdestinos .container1 .mc {
    height: 35px;
    width: 236px;
    line-height: 2.1;
    -webkit-transform: translateX(0%) translateY(0px);
            transform: translateX(0%) translateY(0px);
    position: absolute;
    background-color: var(--color-black-transparent);
  }
  #imagesdestinos .container1 .ror {
    height: 35px;
    width: 236px;
    line-height: 2.1;
    -webkit-transform: translateX(0%) translateY(0px);
            transform: translateX(0%) translateY(0px);
    position: absolute;
    background-color: var(--color-black-transparent);
  }
  #imagesdestinos .container1 .ea {
    height: 35px;
    width: 236px;
    line-height: 2.1;
    -webkit-transform: translateX(0%) translateY(0px);
            transform: translateX(0%) translateY(0px);
    position: absolute;
    background-color: var(--color-black-transparent);
  }
  #imagesdestinos .container1 .ca {
    height: 35px;
    width: 236px;
    line-height: 2.1;
    -webkit-transform: translateX(0%) translateY(0px);
            transform: translateX(0%) translateY(0px);
    position: absolute;
    background-color: var(--color-black-transparent);
  }
  #imagesdestinos .container1 .cg {
    height: 35px;
    width: 236px;
    line-height: 2.1;
    -webkit-transform: translateX(0%) translateY(0px);
            transform: translateX(0%) translateY(0px);
    position: absolute;
    background-color: var(--color-black-transparent);
  }
  #imagesdestinos .container1 .ct {
    height: 35px;
    width: 236px;
    line-height: 2.1;
    -webkit-transform: translateX(0%) translateY(0px);
            transform: translateX(0%) translateY(0px);
    position: absolute;
    background-color: var(--color-black-transparent);
  }
  #imagesdestinos .container1 .mcbo {
    height: 35px;
    width: 236px;
    line-height: 2.1;
    -webkit-transform: translateX(0%) translateY(0px);
            transform: translateX(0%) translateY(0px);
    position: absolute;
    background-color: var(--color-black-transparent);
  }
  #imagesdestinos .container1 .ptocruz {
    height: 35px;
    width: 236px;
    line-height: 2.1;
    -webkit-transform: translateX(0%) translateY(0px);
            transform: translateX(0%) translateY(0px);
    position: absolute;
    background-color: var(--color-black-transparent);
  }
  #imagesdestinos .container1 .coro {
    height: 35px;
    width: 236px;
    line-height: 2.1;
    -webkit-transform: translateX(0%) translateY(0px);
            transform: translateX(0%) translateY(0px);
    position: absolute;
    background-color: var(--color-black-transparent);
  }
  #imagesdestinos .container1 .val {
    height: 35px;
    width: 236px;
    line-height: 2.1;
    -webkit-transform: translateX(0%) translateY(0px);
            transform: translateX(0%) translateY(0px);
    position: absolute;
    background-color: var(--color-black-transparent);
  }
  #imagesdestinos .container1 .cari {
    height: 35px;
    width: 236px;
    line-height: 2.1;
    -webkit-transform: translateX(0%) translateY(0px);
            transform: translateX(0%) translateY(0px);
    position: absolute;
    background-color: var(--color-black-transparent);
  }
  #imagesdestinos .container1 .ccs {
    height: 35px;
    width: 236px;
    line-height: 2.1;
    -webkit-transform: translateX(0%) translateY(0px);
            transform: translateX(0%) translateY(0px);
    position: absolute;
    background-color: var(--color-black-transparent);
  }
  #imagesdestinos .container1 .apu {
    height: 35px;
    width: 236px;
    line-height: 2.1;
    -webkit-transform: translateX(0%) translateY(0px);
            transform: translateX(0%) translateY(0px);
    position: absolute;
    background-color: var(--color-black-transparent);
  }
  #imagesdestinos .container1 .lr {
    height: 35px;
    width: 236px;
    line-height: 2.1;
    -webkit-transform: translateX(0%) translateY(0px);
            transform: translateX(0%) translateY(0px);
    position: absolute;
    background-color: var(--color-black-transparent);
  }
  #imagesdestinos .container1 .ic {
    height: 35px;
    width: 236px;
    line-height: 2.1;
    -webkit-transform: translateX(0%) translateY(0px);
            transform: translateX(0%) translateY(0px);
    position: absolute;
    background-color: var(--color-black-transparent);
  }
  #imagesdestinos .container1 .im {
    height: 35px;
    width: 236px;
    line-height: 2.1;
    -webkit-transform: translateX(0%) translateY(0px);
            transform: translateX(0%) translateY(0px);
    position: absolute;
    background-color: var(--color-black-transparent);
  }
  #imagesdestinos .container1 .tu {
    height: 35px;
    width: 236px;
    line-height: 2.1;
    -webkit-transform: translateX(0%) translateY(0px);
            transform: translateX(0%) translateY(0px);
    position: absolute;
    background-color: var(--color-black-transparent);
  }
  #imagesdestinos .container1 .mo {
    height: 35px;
    width: 236px;
    line-height: 2.1;
    -webkit-transform: translateX(0%) translateY(0px);
            transform: translateX(0%) translateY(0px);
    position: absolute;
    background-color: var(--color-black-transparent);
  }
  #imagesdestinos .container1 .pndo {
    height: 65px;
    width: 236px;
    line-height: 2.1;
    -webkit-transform: translateX(0%) translateY(0px);
            transform: translateX(0%) translateY(0px);
    position: absolute;
    background-color: var(--color-black-transparent);
  }
  #imagesdestinos .container1 .gs {
    height: 35px;
    width: 236px;
    line-height: 2.1;
    -webkit-transform: translateX(0%) translateY(0px);
            transform: translateX(0%) translateY(0px);
    position: absolute;
    background-color: var(--color-black-transparent);
  }
  #imagesdestinos .container1 .st {
    height: 35px;
    width: 236px;
    line-height: 2.1;
    -webkit-transform: translateX(0%) translateY(0px);
            transform: translateX(0%) translateY(0px);
    position: absolute;
    background-color: var(--color-black-transparent);
  }
  #imagesdestinos .container1 .cb {
    height: 35px;
    width: 236px;
    line-height: 2.1;
    -webkit-transform: translateX(0%) translateY(0px);
            transform: translateX(0%) translateY(0px);
    position: absolute;
    background-color: var(--color-black-transparent);
  }
  #imagesdestinos .container1 .ch {
    height: 35px;
    width: 236px;
    line-height: 2.1;
    -webkit-transform: translateX(0%) translateY(0px);
            transform: translateX(0%) translateY(0px);
    position: absolute;
    background-color: var(--color-black-transparent);
  }
  #imagesdestinos .container1 .pp {
    height: 35px;
    width: 236px;
    line-height: 2.1;
    -webkit-transform: translateX(0%) translateY(0px);
            transform: translateX(0%) translateY(0px);
    position: absolute;
    background-color: var(--color-black-transparent);
  }
  #imagesdestinos .container1 .ito {
    height: 35px;
    width: 236px;
    line-height: 2.1;
    -webkit-transform: translateX(0%) translateY(0px);
            transform: translateX(0%) translateY(0px);
    position: absolute;
    background-color: var(--color-black-transparent);
  }
  #imagesdestinos .container1 .mer {
    height: 35px;
    width: 236px;
    line-height: 2.1;
    -webkit-transform: translateX(0%) translateY(0px);
            transform: translateX(0%) translateY(0px);
    position: absolute;
    background-color: var(--color-black-transparent);
  }
  .infodestino {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .logomenuresponsive {
    display: block;
  }
  .menu-nav {
    display: none;
  }
}

@media (max-width: 480px) {
  .media {
    margin-top: 115px;
  }
>>>>>>> 45486e58e65d4199bf0aae508c5c8f25803eb555
=======
}

@media (max-width: 480px) {
>>>>>>> b6e1727c66bea377fe3686f4da3390feb771e9e7
  #imagesdestinos .container1 {
    -webkit-columns: 1;
            columns: 1;
  }
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> b6e1727c66bea377fe3686f4da3390feb771e9e7
}

footer {
  border-top: thick solid var(--color-bottom);
  margin-top: -29px;
}

footer .container {
  background-color: var(--color-primary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .container p {
  text-align: center;
  text-decoration: none;
<<<<<<< HEAD
=======
  #imagesdestinos .container1 .sa {
    height: 35px;
    width: 236px;
    line-height: 2.1;
    -webkit-transform: translateX(0%) translateY(0px);
            transform: translateX(0%) translateY(0px);
    position: absolute;
    background-color: var(--color-black-transparent);
  }
  #imagesdestinos .container1 .mc {
    height: 35px;
    width: 236px;
    line-height: 2.1;
    -webkit-transform: translateX(0%) translateY(0px);
            transform: translateX(0%) translateY(0px);
    position: absolute;
    background-color: var(--color-black-transparent);
  }
  #imagesdestinos .container1 .ror {
    height: 35px;
    width: 236px;
    line-height: 2.1;
    -webkit-transform: translateX(0%) translateY(0px);
            transform: translateX(0%) translateY(0px);
    position: absolute;
    background-color: var(--color-black-transparent);
  }
  #imagesdestinos .container1 .ea {
    height: 35px;
    width: 236px;
    line-height: 2.1;
    -webkit-transform: translateX(0%) translateY(0px);
            transform: translateX(0%) translateY(0px);
    position: absolute;
    background-color: var(--color-black-transparent);
  }
  #imagesdestinos .container1 .ca {
    height: 35px;
    width: 236px;
    line-height: 2.1;
    -webkit-transform: translateX(0%) translateY(0px);
            transform: translateX(0%) translateY(0px);
    position: absolute;
    background-color: var(--color-black-transparent);
  }
  #imagesdestinos .container1 .cg {
    height: 35px;
    width: 236px;
    line-height: 2.1;
    -webkit-transform: translateX(0%) translateY(0px);
            transform: translateX(0%) translateY(0px);
    position: absolute;
    background-color: var(--color-black-transparent);
  }
  #imagesdestinos .container1 .ct {
    height: 35px;
    width: 236px;
    line-height: 2.1;
    -webkit-transform: translateX(0%) translateY(0px);
            transform: translateX(0%) translateY(0px);
    position: absolute;
    background-color: var(--color-black-transparent);
  }
  #imagesdestinos .container1 .mcbo {
    height: 35px;
    width: 236px;
    line-height: 2.1;
    -webkit-transform: translateX(0%) translateY(0px);
            transform: translateX(0%) translateY(0px);
    position: absolute;
    background-color: var(--color-black-transparent);
  }
  #imagesdestinos .container1 .ptocruz {
    height: 35px;
    width: 236px;
    line-height: 2.1;
    -webkit-transform: translateX(0%) translateY(0px);
            transform: translateX(0%) translateY(0px);
    position: absolute;
    background-color: var(--color-black-transparent);
  }
  #imagesdestinos .container1 .coro {
    height: 35px;
    width: 236px;
    line-height: 2.1;
    -webkit-transform: translateX(0%) translateY(0px);
            transform: translateX(0%) translateY(0px);
    position: absolute;
    background-color: var(--color-black-transparent);
  }
  #imagesdestinos .container1 .val {
    height: 35px;
    width: 236px;
    line-height: 2.1;
    -webkit-transform: translateX(0%) translateY(0px);
            transform: translateX(0%) translateY(0px);
    position: absolute;
    background-color: var(--color-black-transparent);
  }
  #imagesdestinos .container1 .cari {
    height: 35px;
    width: 236px;
    line-height: 2.1;
    -webkit-transform: translateX(0%) translateY(0px);
            transform: translateX(0%) translateY(0px);
    position: absolute;
    background-color: var(--color-black-transparent);
  }
  #imagesdestinos .container1 .ccs {
    height: 35px;
    width: 236px;
    line-height: 2.1;
    -webkit-transform: translateX(0%) translateY(0px);
            transform: translateX(0%) translateY(0px);
    position: absolute;
    background-color: var(--color-black-transparent);
  }
  #imagesdestinos .container1 .apu {
    height: 35px;
    width: 236px;
    line-height: 2.1;
    -webkit-transform: translateX(0%) translateY(0px);
            transform: translateX(0%) translateY(0px);
    position: absolute;
    background-color: var(--color-black-transparent);
  }
  #imagesdestinos .container1 .lr {
    height: 35px;
    width: 236px;
    line-height: 2.1;
    -webkit-transform: translateX(0%) translateY(0px);
            transform: translateX(0%) translateY(0px);
    position: absolute;
    background-color: var(--color-black-transparent);
  }
  #imagesdestinos .container1 .ic {
    height: 35px;
    width: 236px;
    line-height: 2.1;
    -webkit-transform: translateX(0%) translateY(0px);
            transform: translateX(0%) translateY(0px);
    position: absolute;
    background-color: var(--color-black-transparent);
  }
  #imagesdestinos .container1 .im {
    height: 35px;
    width: 236px;
    line-height: 2.1;
    -webkit-transform: translateX(0%) translateY(0px);
            transform: translateX(0%) translateY(0px);
    position: absolute;
    background-color: var(--color-black-transparent);
  }
  #imagesdestinos .container1 .tu {
    height: 35px;
    width: 236px;
    line-height: 2.1;
    -webkit-transform: translateX(0%) translateY(0px);
            transform: translateX(0%) translateY(0px);
    position: absolute;
    background-color: var(--color-black-transparent);
  }
  #imagesdestinos .container1 .mo {
    height: 35px;
    width: 236px;
    line-height: 2.1;
    -webkit-transform: translateX(0%) translateY(0px);
            transform: translateX(0%) translateY(0px);
    position: absolute;
    background-color: var(--color-black-transparent);
  }
  #imagesdestinos .container1 .pndo {
    height: 65px;
    width: 236px;
    line-height: 2.1;
    -webkit-transform: translateX(0%) translateY(0px);
            transform: translateX(0%) translateY(0px);
    position: absolute;
    background-color: var(--color-black-transparent);
  }
  #imagesdestinos .container1 .gs {
    height: 35px;
    width: 236px;
    line-height: 2.1;
    -webkit-transform: translateX(0%) translateY(0px);
            transform: translateX(0%) translateY(0px);
    position: absolute;
    background-color: var(--color-black-transparent);
  }
  #imagesdestinos .container1 .st {
    height: 35px;
    width: 236px;
    line-height: 2.1;
    -webkit-transform: translateX(0%) translateY(0px);
            transform: translateX(0%) translateY(0px);
    position: absolute;
    background-color: var(--color-black-transparent);
  }
  #imagesdestinos .container1 .cb {
    height: 35px;
    width: 236px;
    line-height: 2.1;
    -webkit-transform: translateX(0%) translateY(0px);
            transform: translateX(0%) translateY(0px);
    position: absolute;
    background-color: var(--color-black-transparent);
  }
  #imagesdestinos .container1 .ch {
    height: 35px;
    width: 236px;
    line-height: 2.1;
    -webkit-transform: translateX(0%) translateY(0px);
            transform: translateX(0%) translateY(0px);
    position: absolute;
    background-color: var(--color-black-transparent);
  }
  #imagesdestinos .container1 .pp {
    height: 35px;
    width: 236px;
    line-height: 2.1;
    -webkit-transform: translateX(0%) translateY(0px);
            transform: translateX(0%) translateY(0px);
    position: absolute;
    background-color: var(--color-black-transparent);
  }
  #imagesdestinos .container1 .ito {
    height: 35px;
    width: 236px;
    line-height: 2.1;
    -webkit-transform: translateX(0%) translateY(0px);
            transform: translateX(0%) translateY(0px);
    position: absolute;
    background-color: var(--color-black-transparent);
  }
  #imagesdestinos .container1 .mer {
    height: 35px;
    width: 236px;
    line-height: 2.1;
    -webkit-transform: translateX(0%) translateY(0px);
            transform: translateX(0%) translateY(0px);
    position: absolute;
    background-color: var(--color-black-transparent);
  }
  .infodestino {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
>>>>>>> 45486e58e65d4199bf0aae508c5c8f25803eb555
=======
>>>>>>> b6e1727c66bea377fe3686f4da3390feb771e9e7
}

.copy {
  font-size: 20px;
}
/*# sourceMappingURL=principal.css.map */