:root {
    --color-primary:  #FF0000;
    --color-primary-light: #FF2E2E;
    --color-primary-dark: #E80000;
    --color-grey-light-1: #FFFFFC;
    --color-grey-light-2: #E8E8E6;
    --color-grey-light-3: #BABAB8;
    --color-grey-dark-1: #000000;
    --color-grey-dark-2: #515050;
    --color-grey-dark-3: #999;
    --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
    --shadow-light: 0 2rem 5rem rgba(0, 0, 0, .06);
    --line: 1px solid var(--color-grey-light-2);
    }
    $bp-largest: 75em; // 1200px
    $bp-large: 68.75em; // 1100px
    $bp-medium: 56.25em; // 900px
    $bp-small: 37.5em; // 600px
    $bp-smallest: 31.25em; // 500px

* {
    margin: 0;
    padding: 0;
    }
   *,
*::before, *::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    }
html {
    display: block;
    font-size: 62.5%;
    -webkit-tap-highlight-color: transparent;
  }  
  body {
        font-family: 'Chakra Petch', sans-serif;
        font-weight: 400;
        line-height: 1.6;
        color: var(--color-grey-dark-2);
        background: -webkit-gradient(linear,left top,left bottom,from(rgba(47,23,15,.65))),url(img\istanbul.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 100vh;
    }