//Setting primary colors
$color__primary_1: #2823AA;
$color__primary_2: #EFEFEF;
$color__primary_3: #FF0027;

//Seting secondary Colors
$color__secondary_1: #0F0E0E;
$color__secondary_2: #FFFFFF;
$color__secondary_3: #F8F7F7;

//Border radius
$border: 30px;

//Padding
$padding: 80px;