@import url("https://fonts.googleapis.com/css?family=Oswald:400,600,700");
:root {
  --color-primary:      rgb(0, 73, 135);
  --color-secondary:    #ffcd00;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1:  #333;
  --color-grey-dark-2:  #777;
  --color-grey-dark-3:  #999;
}

html {
  overflow-x: hidden;
}

html,
body {
  font-family: 'Oswald', sans-serif;
  background-color: #f2f3f2;
  width: 100%;
}

header {
  border-bottom: 5px solid #004987;
  background-color: rgba(255, 255, 255, 0.75);
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  height: 110px;
  -webkit-transition: background-color .2s, height .2s;
  transition: background-color .2s, height .2s;
}

header nav {
  width: 70%;
  margin: 0 auto;
  padding: 55px 0;
  -webkit-transition: padding .2s;
  transition: padding .2s;
}

header nav .navbar-flag {
  float: left;
  margin-top: -50px;
}

header nav .navbar-flag li a img {
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

header nav .navbar-nav {
  float: right;
  margin-top: -10px;
}

header nav .navbar-nav li {
  list-style-type: none;
  display: inline-block;
  margin-right: 30px;
}

header nav .navbar-nav li a {
  text-decoration: none;
  color: #004987;
  padding: 10px 0;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 1px;
}

header nav .navbar-nav li a:hover {
  border-bottom: 3px solid var(--color-primary);
}

.active {
  border-bottom: 3px solid var(--color-primary);
}

.navbar-scroll {
  background-color: white;
  height: 70px;
}

.navbar-scroll nav {
  padding: 35px;
}

.navbar-scroll nav .navbar-flag li a img {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

footer {
  background-color: var(--color-secondary);
}

footer .footer-wrapper {
  width: 90%;
  margin: 0 auto;
}

footer .footer-wrapper .footer-link {
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .footer-wrapper .footer-link ul li {
  list-style-type: none;
  margin-top: 20px;
}

footer .footer-wrapper .footer-link ul li:first-child {
  margin-top: 0;
}

footer .footer-wrapper .footer-link ul li a {
  display: block;
  text-decoration: none;
  color: var(--color-primary);
  font-size: 1.8rem;
}

footer .footer-social {
  padding: 30px 0 37px;
  background-color: var(--color-primary);
  text-align: center;
}

footer .footer-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer-social ul li {
  list-style-type: none;
  margin-right: 30px;
}

footer .footer-social ul li:first-child {
  color: var(--color-secondary);
  font-size: 1.5rem;
  letter-spacing: .5px;
  font-weight: 600;
}

footer .footer-social ul li a {
  color: var(--color-secondary);
  text-decoration: none;
  font-size: 1.5rem;
  letter-spacing: .5px;
  border-bottom: 1px dotted var(--color-secondary);
}

footer .footer-social ul li a:hover {
  border-bottom: 1px solid var(--color-secondary);
}

footer .separador {
  border-left: 5px solid var(--color-primary);
}

/*
 * Index Page
 */
.index-main {
  background-image: url("../img/bg-index2.jpg");
  height: 100vh;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.index-main .index-welcome {
  position: absolute;
  bottom: calc(50% - 260px);
  left: 200px;
}

.index-main .index-welcome h1 {
  color: #f2f3f2;
  text-shadow: 1px 1px 2px #000;
  text-align: left;
  font-size: 4.5rem;
  letter-spacing: 2px;
}

.index-main .index-welcome a {
  color: #f2f3f2;
  text-decoration: none;
}

.index-main .index-welcome a i {
  cursor: pointer;
  font-size: 2.2rem;
  margin-left: 5px;
  margin-top: 10px;
  -webkit-transition: -webkit-transform .1s;
  transition: -webkit-transform .1s;
  transition: transform .1s;
  transition: transform .1s, -webkit-transform .1s;
}

.index-main .index-welcome a i:hover {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.index-info {
  width: 80%;
  margin: 0 auto;
  padding: 60px 0;
}

.index-info h1 {
  color: #000;
  font-size: 2.7rem;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 40px;
}

.index-info hr {
  border: 2px solid #000;
  width: 50px;
  margin-bottom: 30px;
}

.index-info .info-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.index-info .info-card a {
  text-decoration: none;
}

.index-info .info-card figure {
  margin: 20px 0;
  overflow: hidden;
  max-height: 340px;
  max-width: 100%;
  -webkit-transition: -webkit-box-shadow .3s, -webkit-transform .3s;
  transition: -webkit-box-shadow .3s, -webkit-transform .3s;
  transition: box-shadow .3s, transform .3s;
  transition: box-shadow .3s, transform .3s, -webkit-box-shadow .3s, -webkit-transform .3s;
}

.index-info .info-card figure:hover {
  -webkit-box-shadow: -10px 15px 25px rgba(0, 0, 0, 0.5);
          box-shadow: -10px 15px 25px rgba(0, 0, 0, 0.5);
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.index-info .info-card figure:hover img {
  -webkit-filter: brightness(0.3);
          filter: brightness(0.3);
}

.index-info .info-card figure:hover figcaption h2 {
  -webkit-transform: translateY(-130px);
          transform: translateY(-130px);
}

.index-info .info-card figure:hover figcaption p {
  color: #f2f3f2;
  text-shadow: 1px 1px 2px #000;
  line-height: 1.5rem;
  word-spacing: 5px;
  -webkit-transform: translateY(-160px);
          transform: translateY(-160px);
  visibility: visible;
  opacity: 1;
}

.index-info .info-card figure img {
  -webkit-transition: -webkit-filter .3s;
  transition: -webkit-filter .3s;
  transition: filter .3s;
  transition: filter .3s, -webkit-filter .3s;
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
  max-width: 100%;
}

.index-info .info-card figure figcaption {
  max-width: 340px;
  padding: 15px 0;
  background-color: transparent;
  position: relative;
}

.index-info .info-card figure figcaption h2 {
  position: absolute;
  bottom: 70px;
  font-size: 1.8rem;
  letter-spacing: 1px;
  color: #f2f3f2;
  margin-left: 30px;
  text-shadow: 1px 1px 2px #000;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.index-info .info-card figure figcaption p {
  color: transparent;
  font-size: 1.2rem;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  margin-left: 30px;
  max-width: 290px;
  -webkit-transition: opacity .3s, visibility .3s;
  transition: opacity .3s, visibility .3s;
}

/*
 * Culture Page
 */
.culture-main {
  background-image: url("../img/bg-index2.jpg");
  height: 100vh;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.culture-main .culture-welcome {
  position: absolute;
  bottom: calc(50% - 300px);
  left: 300px;
}

.culture-main .culture-welcome h1 {
  color: #f2f3f2;
  text-shadow: 1px 1px 2px #000;
  text-align: left;
  font-size: 4.5rem;
  letter-spacing: 2px;
}

.culture-main .culture-welcome a {
  color: #f2f3f2;
  text-decoration: none;
}

.culture-main .culture-welcome a i {
  cursor: pointer;
  font-size: 2.2rem;
  margin-left: 5px;
  margin-top: 10px;
  -webkit-transition: -webkit-transform .1s;
  transition: -webkit-transform .1s;
  transition: transform .1s;
  transition: transform .1s, -webkit-transform .1s;
}

.culture-main .culture-welcome a i:hover {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

/*
 * Destinations Page
 */
.destinations-main {
  background-image: url("../img/destinations3.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.destinations-main .destinations-welcome {
  position: absolute;
  bottom: calc(50% - 260px);
  left: 200px;
}

.destinations-main .destinations-welcome h1 {
  color: #f2f3f2;
  text-shadow: 1px 1px 2px #000;
  text-align: left;
  font-size: 4.5rem;
  letter-spacing: 2px;
}

.destinations-main .destinations-welcome a {
  color: #f2f3f2;
  text-decoration: none;
}

.destinations-main .destinations-welcome a i {
  cursor: pointer;
  font-size: 2.2rem;
  margin-left: 5px;
  margin-top: 10px;
  -webkit-transition: -webkit-transform .1s;
  transition: -webkit-transform .1s;
  transition: transform .1s;
  transition: transform .1s, -webkit-transform .1s;
}

.destinations-main .destinations-welcome a i:hover {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

/*
 * Facts Page
 */
.facts-main {
  background-image: url("../img/bg-index2.jpg");
  height: 100vh;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.facts-main .facts-welcome {
  position: absolute;
  bottom: calc(50% - 300px);
  left: 300px;
}

.facts-main .facts-welcome h1 {
  color: #f2f3f2;
  text-shadow: 1px 1px 2px #000;
  text-align: left;
  font-size: 4.5rem;
  letter-spacing: 2px;
}

.facts-main .facts-welcome a {
  color: #f2f3f2;
  text-decoration: none;
}

.facts-main .facts-welcome a i {
  cursor: pointer;
  font-size: 2.2rem;
  margin-left: 5px;
  margin-top: 10px;
  -webkit-transition: -webkit-transform .1s;
  transition: -webkit-transform .1s;
  transition: transform .1s;
  transition: transform .1s, -webkit-transform .1s;
}

.facts-main .facts-welcome a i:hover {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

/*
 * Gallery Page
 */
.gallery-main {
  background-image: url("../img/bg-index2.jpg");
  height: 100vh;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.gallery-main .gallery-welcome {
  position: absolute;
  bottom: calc(50% - 300px);
  left: 300px;
}

.gallery-main .gallery-welcome h1 {
  color: #f2f3f2;
  text-shadow: 1px 1px 2px #000;
  text-align: left;
  font-size: 4.5rem;
  letter-spacing: 2px;
}

.gallery-main .gallery-welcome a {
  color: #f2f3f2;
  text-decoration: none;
}

.gallery-main .gallery-welcome a i {
  cursor: pointer;
  font-size: 2.2rem;
  margin-left: 5px;
  margin-top: 10px;
  -webkit-transition: -webkit-transform .1s;
  transition: -webkit-transform .1s;
  transition: transform .1s;
  transition: transform .1s, -webkit-transform .1s;
}

.gallery-main .gallery-welcome a i:hover {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

/*
 * Things to Do
 */
.things-to-do-main {
  height: 100vh;
  background-image: url("../img/winter-activities2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.things-to-do-main .things-to-do-welcome {
  position: absolute;
  bottom: calc(50% - 260px);
  left: 200px;
}

.things-to-do-main .things-to-do-welcome h1 {
  color: #f2f3f2;
  text-shadow: 1px 1px 2px #000;
  text-align: left;
  font-size: 4.5rem;
  letter-spacing: 2px;
}

.things-to-do-main .things-to-do-welcome a {
  color: #f2f3f2;
  text-decoration: none;
}

.things-to-do-main .things-to-do-welcome a i {
  cursor: pointer;
  font-size: 2.2rem;
  margin-left: 5px;
  margin-top: 10px;
  -webkit-transition: -webkit-transform .1s;
  transition: -webkit-transform .1s;
  transition: transform .1s;
  transition: transform .1s, -webkit-transform .1s;
}

.things-to-do-main .things-to-do-welcome a i:hover {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}
/*# sourceMappingURL=main.css.map */