    <div class="footer">
        <div class="social_media">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-instagram"></i>
        </div>
        <div class="copyright">
            <p>&copy; 2018 Russia</p>
        </div>
     </div>