    <div class="topnav" id="nav_top">
        <a class="img" href="index.html">
            <img class="logo" src="assets/logo/Russia_flag.png"> 
        </a>
        <a href="/contact.html">Contact</a>
        <a href="/experience.html">Experience</a>
        <a href="/celebrities.html">Celebrities</a>
        <a href="/monuments.html">Monuments</a>
        <a href="/index.html">Home</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
           <i class="menu_icon fas fa-bars"></i>
        </a>
    </div>